book.pdf
book-toc.pdf
awec_panels.pdf
awec_program.pdf
book.ps
book.fdb_latexmk
programme.fdb_latexmk
book.fls
*.aux
*.log
*.nav
*.out
*.snm
book.idx
*.toc
book.synctex.gz
book.bbl
book.blg
book.pdf.mk
book.ilg
book.ind
.DS_Store
pdfa.xmpi
program.pdf
program.synctex.gz
program_poster.synctex.gz
program_rooms.synctex.gz
